<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".SendActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent" />

        <provider
            android:name=".ReportingFileProvider"
            android:authorities="${applicationId}.reporting.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/report_provider_paths" />
        </provider>
    </application>

</manifest>