<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applicaster.xray.crashreporter">
    <application>
        <provider
            android:name="com.applicaster.xray.crashreporter.ReportingFileProvider"
            android:authorities="${applicationId}.reporting.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/report_provider_paths" />
        </provider>
    </application>
</manifest>